{% load static %}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% block title %} BAROBUFI NEWS {% endblock %}</title>
<meta name="description" content="BAROBUFI - KING OF NEWS">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" type="image/x-icon" href="{% static 'news/img/favicon.png' %}">
<!-- Place favicon.ico in the root directory -->

<!-- CSS here -->
<link rel="stylesheet" href="{% static 'news/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'news/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'news/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'news/css/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'news/css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'news/css/slick.css' %}">
<link rel="stylesheet" href="{% static 'news/css/swiper-bundle.css' %}">
<link rel="stylesheet" href="{% static 'news/css/default.css' %}">
<link rel="stylesheet" href="{% static 'news/css/style.css' %}">
<link rel="stylesheet" href="{% static 'news/css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'news/css/custom.css' %}">