{% load static %}

<script src="{% static 'news/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'news/js/bootstrap.min.js '%}"></script>
<script src="{% static 'news/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'news/js/slick.min.js' %}"></script>
<script src="{% static 'news/js/swiper-bundle.js' %}"></script>
<script src="{% static 'news/js/ajax-form.js' %}"></script>
<script src="{% static 'news/js/wow.min.js' %}"></script>
<script src="{% static 'news/js/main.js' %}"></script>
<script src="{% static 'news/js/custom.js' %}"></script>

